# IDE
.idea/
.vs/
.vscode/

# DEPENDÊNCIAS
.pnp/
bower_components/
node_modules/
.pnp.js

# TESTES + SCRATCHES
coverage/
review/
scratch/
test/

# PRODUCTION
build/
dist/

# PACKAGE LOCK FILES
package-lock.json
yarn.lock

# OUTROS ARQUIVOS
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
